{% extends "base.html" %}

{% block style %}
{% endblock %}

{% block body %}

<div class="col-md-3">
    <h2>Filters</h2>
</div>

<div class="col-md-9">
    <h2>Map</h2>
    <div id="map-canvas"></div>
</div>

{% endblock body %}


{% block javascript %}

{% raw %}
<script id="marker-content-template" type="text/x-handlebars-template">
    <h3>Photo <span class="id">{{id}}</span>, taken <span class="date">{{day_taken}}/{{month_taken}}/{{year_taken}}</span> at <span class="hour">{{hour_taken}}:{{minutes_taken}}</span>
    </h3>

    <p class="legend">
        {{legend}}
    </p>

    <ul class="hashtag">
    {{#each hashtags}}
        <li>{{this}}</li>
    {{/each}}
    </ul>

</script>
{% endraw %}


<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDmuqQyTSBFtwzGtmiHV3mckRZUUVxC9fA&sensor=false" type="text/javascript"></script>
<script src="/static/js/map.js"></script>
{% endblock %}
