{% extends "base.html" %}

{% block style %}
<link href="/static/css/xcharts.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div id="map-canvas"></div>
{% endblock body %}


{% block javascript %}

{% raw %}
<script id="marker-content-template" type="text/x-handlebars-template">
    <h3 class="title">
        Photo <italic>{{id}}</italic>
    </h3>

    <p class="date-label">
        Taken <span class="date">{{day_taken}}/{{month_taken}}/{{year_taken}}</span> at <span class="hour">{{hour_taken}}:{{minutes_taken}}</span>
    </p>

    <img src="{{url}}" class="photo">


    {{#if legend}}
        <h4>Legend</h4>
        <p class="legend">
            {{{legend}}}
        </p>
    {{/if}}


    {{#if hashtags}}
        <h4>Hashtags</h4>
        <ul class="hashtags">
        {{#each hashtags}}
            <li>{{this}}</li>
        {{/each}}
        </ul>
    {{/if}}

</script>

<script id="cluster-template" type="text/x-handlebars-template">
    <h3 class="title">
        #{{cluster}} - {{name}}
    </h3>
    <p>{{vicinity}}</p>

    {{#if photo}}
        <img src="{{photo}}" class="photo">
    {{/if}}

    <a href="#" id="{{cluster}}-photos" class="photos-link"><span class="glyphicon glyphicon-camera"></span> See photos</a>

    {{#if types}}
        <h4>Types</h4>
        <ul class="hashtags">
        {{#each types}}
            <li>{{this}}</li>
        {{/each}}
        </ul>
    {{/if}}
</script>

{% endraw %}


<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDmuqQyTSBFtwzGtmiHV3mckRZUUVxC9fA&sensor=false" type="text/javascript"></script>
<script src="/static/js/map.js"></script>
<script src="/static/js/xcharts.min.js"></script>
{% endblock %}
